.intro-page{
  background-color: #040404;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-btn{
  background-color: #ffffff00;
}

.game-page {
  text-align: center;
  background-color: #040404;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-template-rows: 2fr 3fr;
  display: grid;
}
.hangman, .word, .user-input{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .word-layout{
  display: grid;
  grid-template-rows: 1fr 2fr;
} */